spring:
  codec:
    max-in-memory-size: ${CODEC_MAX_MEMORY_SIZE_IN_MB:25MB}
  application:
    name: 'eip-ero-ems-integration-api'
  cloud:
    aws:
      region:
        auto: true
        use-default-aws-region-chain: true
      credentials:
        use-default-aws-credentials-chain: true
  datasource:
    url: jdbc:mysql://${MYSQL_HOST}:${MYSQL_PORT}/ems_integration_application
    readOnlyUrl: ${SPRING_DATASOURCE_READONLYURL}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    contexts: ${LIQUIBASE_CONTEXTS}

dluhc:
  request.header.name: ${REQUEST_HEADER_CLIENT_CERT_SERIAL}
  default-page-size: ${DEFAULT_PAGE_SIZE:100}
  max-page-size: ${MAX_PAGE_SIZE:500}
  force-max-page-size: ${FORCE_MAX_PAGE_SIZE:200}
  holding-pool-threshold-date: ${HOLDING_POOL_THRESHOLD_DATE:2025-12-01T00:00:00Z}

sqs:
  proxy-application-queue-name: ${SQS_PROXY_APPLICATION_QUEUE_NAME}
  postal-application-queue-name: ${SQS_POSTAL_APPLICATION_QUEUE_NAME}
  remove-application-ems-integration-data-queue-name: ${SQS_REMOVE_APPLICATION_EMS_INTEGRATION_DATA_QUEUE_NAME}
  ems-application-processed-queue-name: ${SQS_EMS_APPLICATION_PROCESSED_QUEUE_NAME}
  initiate-applicant-register-check-queue-name: ${SQS_INITIATE_REGISTER_CHECK_QUEUE_NAME}
  register-check-result-response-queue-name: ${SQS_REGISTER_CHECK_RESULT_RESPONSE_QUEUE_NAME}
  remove-applicant-register-check-data-queue-name: ${SQS_REMOVE_APPLICANT_REGISTER_CHECK_DATA_QUEUE_NAME}

api:
  ero-management:
    url: ${API_ERO_MANAGEMENT_URL}
  ier:
    base.url: ${API_IER_BASE_URL}
    sts.assume.role: ${API_IER_STS_ASSUME_ROLE}
    sts.assume.role.external-id: ${API_IER_STS_ASSUME_ROLE_EXTERNAL_ID}

logging:
  pattern:
    level: "%X{correlationId} %5p"

jobs:
  enabled: true
  lock-at-most-for: "PT100M" # Time Period of 100 Minutes
  pending-downloads-monitoring:
    enabled: true
    send-email: true
    name: "PendingDownloadsMonitoring"
    cron: "0 0 5 * * *" # Runs at 05:00 daily
    expected-maximum-pending-period: 5D
    excluded-gss-codes: "E99999999"
  register-check-monitoring:
    enabled: true
    name: "PendingRegisterCheckMonitoring"
    cron: "0 10 5 * * *" # Runs at 05:10 daily
    expected-maximum-pending-period: 24H
    excluded-gss-codes: "E99999999"
    send-email: true

email:
  client:
    sender: ${EMS_INTEGRATION_DOWNLOADS_MONITORING_SENDING_EMAIL_ADDRESS}
  monitor-pending-downloads-content:
    subject: "Postal and Proxy Pending Downloads Monitoring"
    email-body-template: email-templates/monitor-pending-downloads.html
    recipients: ${EMS_INTEGRATION_DOWNLOADS_MONITORING_RECIPIENTS}
  pending-register-checks-content:
    subject: "Register Check Monitoring"
    email-body-template: email-templates/pending-register-checks.html
    recipients: ${REGISTER_CHECK_MONITORING_RECIPIENTS}

caching.time-to-live: PT1H
