spring:
  application:
    name: 'eip-ero-ems-integration-api'
  datasource:
    url: jdbc:mysql://${MYSQL_HOST}:${MYSQL_PORT}/ems_integration_application
    readOnlyUrl: ${spring.datasource.url}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    contexts: ${LIQUIBASE_CONTEXTS}

dluhc:
  request.header.name: ${REQUEST_HEADER_CLIENT_CERT_SERIAL}
  default-page-size: ${DEFAULT_PAGE_SIZE:100}

cloud:
  aws:
    region:
      auto: true
      use-default-aws-region-chain: true
    credentials:
      use-default-aws-credentials-chain: true

sqs:
  proxy-application-queue-name: ${SQS_PROXY_APPLICATION_QUEUE_NAME}
  postal-application-queue-name: ${SQS_POSTAL_APPLICATION_QUEUE_NAME}
  deleted-proxy-application-queue-name: ${SQS_DELETED_PROXY_APPLICATION_QUEUE_NAME}
  deleted-postal-application-queue-name: ${SQS_DELETED_POSTAL_APPLICATION_QUEUE_NAME}

sts:
  endpoint: ${STS_ENDPOINT}

feature-toggles:
