<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <springProperty source="spring.application.name" name="service_name"/>

    <springProfile name="jsonLogging">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <logLevel/>
                    <message/>
                    <loggerName/>
                    <threadName/>
                    <stackTrace>
                        <fieldName>exception</fieldName>
                    </stackTrace>
<!--                    <mdc/> place holder for future MDC-->
                    <globalCustomFields>
                        <customFields>{"service": {"name":"${service_name}"}, "host_name":"${HOSTNAME}"}</customFields>
                    </globalCustomFields>
                </providers>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="!jsonLogging">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%-5level [%d{ISO8601, UTC}] %logger: %msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <logger name="uk.gov" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>